body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2 {
  color: #2a9d8f;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: #e76f51;
}
